body {
background-color: #8ABCE5;
color: black
}

.create {
float: left;
background-color: white;
border: 2px solid gray;
}
.edit {
    background-color: white;
    float: right;
    border: 2px solid gray;
    }